################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConvertJsonToCsv/.vs/ConvertJsonToCsv/v17
/ConvertJsonToCsv/.vs/ProjectEvaluation
/ConvertJsonToCsv/.vs/ConvertJsonToCsv/DesignTimeBuild
/ConvertJsonToCsv/.vs/ConvertJsonToCsv/FileContentIndex
/ConvertJsonToCsv/.vs/ConvertJsonToCsv/copilot-chat/42cd9a67/sessions
/ConvertJsonToCsv/ConvertJsonToCsv/bin/Debug/net8.0
/ConvertJsonToCsv/ConvertJsonToCsv/obj/Debug/net8.0/ref
/ConvertJsonToCsv/ConvertJsonToCsv/obj/Debug/net8.0/refint
